{% extends "OlitazToolboxBundle::layout.html.twig" %}

{% block title "Accueil - Dev-Toolbox" %}

{% block content %}
    <div class="post">
        <h1 class="title"><a href="#">Regex Tester</a></h1>
        <p class="meta"><span class="date">Jun 28, 2011</span><span class="posted">Posted by <a href="#">Admin</a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>This is <strong>dev-tooblox</strong>, a lot of free tools principally for developers! \o/</p>
            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">Comments</a></p>
        </div>
    </div>
{% endblock %}
