{% extends "OlitazToolboxBundle::layout.html.twig" %}

{% block title "Accueil - Dev-Toolbox" %}

{% block content %}
    <div class="post">
        <h1 class="title"><a href="#">Regex tester</a></h1>
        <p class="meta"><span class="date">Last update: Jun 28, 2011</span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>
                <textarea cols="50" rows="10"></textarea>
            </p>
            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="b0x w">Comments</a></p>
        </div>
    </div>
{% endblock %}
