{# src/Olitaz/ToolboxBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    {% block content %}{% endblock %}
    <div style="clear: both;">&nbsp;</div>
{% endblock %}